*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    display : flex;
    margin-left : 300px;
    margin-top: 300px;
    height : 100vh;
    background-color: bisque;
    background-image: url('https://pplx-res.cloudinary.com/image/upload/v1741967961/ai_generated_images/pux0cnmo0cs1hyqxp7d3.png');
    background-size : cover;
    background-position : center;
}

.login-container{
    display : flex;
    justify-content: center;
    align-items : center;
    width: 100%;
    max-width : 400px;
    padding : 20px;
    background-color: rgba(255,255,234,0.3);
    border-radius : 10px;
    box-shadow : 0px 4px 6px rgba(0,0,0,1);
}

.login-form h2{
    text-align : center;
    margin-bottom : 20px;
}

.login-form input{
    width : calc(100% - 2px);
    padding : 2px;
    margin-bottom : 15px;
    border : none;
    border-radius : 5px;
}

.login-form input:focus{
    outline : none;
    background-color: rgba(26, 26, 25, 0.4);
}
.login-form button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
}

.login-form button:hover {
    background-color: #028a50;
}
  
.forgot-password {
    text-align: center;
    margin-top : 5px;
}
  
.forgot-password a {
    color: #04AA6D;
}
